extends ../components/layouts/base.pug

include ../components/blocks/our-services
include ../components/blocks/video

block title
    | Главная

block content
    section.banner.section-p-block-50
        div.banner__inner.container
            div.banner__content(style="--bg: url(/images/banner-bg.png)")
                h1.banner__title
                    | Российский разработчик
                    br
                    | и производитель электротехнического оборудования для объектов энергоснабжения

                a(href="#").banner__btn.button.accent.w-296 Отправить заявку

    include ../components/blocks/about

    section.our-products.section-p-block-50
        div.our-products__inner.container
            div.section__header
                p.our-products__title.h3.section__subtitle.text-w500 Наша продукция

                div.section__header_actions.flex
                    button(type="button").our-products__btn.section__header_arrow.prev.flex-center.hover-color-accent
                        include ../components/icons/slider-arrow
                    button(type="button").our-products__btn.section__header_arrow.next.flex-center.hover-color-accent
                        include ../components/icons/slider-arrow

            div.our-products__slider.slider.swiper
                div.swiper-wrapper
                    each item in ourProducts
                        a(href="#").our-products__card.swiper-slide.cursor-pointer
                            div.our-products__img-container.img-container.w-100
                                img(src=item.img alt=item.title)

                            div.our-products__info
                                p.our-products__name.h6= item.title

                                p.our-products__about= item.text

            div.our-products__pagination.slider__pagination

            a(href="#").our-products__link.button.accent.w-296.m-auto Вся продукция

    +our-services()

    +video()

    section.application-areas.section-p-block-50
        div.application-areas__inner.container
            div.section__header
                p.application-areas__title.h3.section__subtitle.text-w500 Отрасли применения

                div.section__header_arrow_actions.flex
                    button(type="button").application-areas__btn.section__header_arrow.prev.flex-center.hover-color-accent
                        include ../components/icons/slider-arrow
                    button(type="button").application-areas__btn.section__header_arrow.next.flex-center.hover-color-accent
                        include ../components/icons/slider-arrow

            div.application-areas__slider.slider.swiper
                div.swiper-wrapper
                    each item in applicationAreas
                        div.application-areas__card.swiper-slide.overflow-hidden
                            div.application-areas__img-container.img-container.w-100
                                img(src=item.img alt="")

                            div.application-areas__info
                                p.h6= item.title


            div.application-areas__pagination.slider__pagination

    include ../components/blocks/news

    include ../components/blocks/purchase-procedure
