svg(
    width="48"
    height="48"
    viewBox="0 0 48 48"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
)
    path(
        d="M28.5 24L48 4.5C48.4 4.1 48.4 3.5 48 3.1L44.9 0C44.5 -0.4 43.8 -0.4 43.4 0L24 19.4L4.6 0C4.2 -0.4 3.5 -0.4 3.1 0L0 3.1C-0.4 3.5 -0.4 4.1 0 4.5L19.5 24L0 43.5C-0.4 43.9 -0.4 44.5 0 44.9L3.1 48C3.5 48.4 4.2 48.4 4.6 48L24 28.6L43.4 48C43.8 48.4 44.5 48.4 44.9 48L48 44.9C48.4 44.5 48.4 43.9 48 43.5L28.5 24Z"
        fill="#0F1729"
    )