svg(
    width="12"
    height="13"
    viewBox="0 0 12 13"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
)
    path(
        d="M5 0C7.76142 0 10 2.23858 10 5C10 6.36531 9.45154 7.60159 8.56445 8.50391L11.5303 11.4697C11.8232 11.7626 11.8232 12.2374 11.5303 12.5303C11.2374 12.8232 10.7626 12.8232 10.4697 12.5303L7.46973 9.53027C7.43047 9.49102 7.3969 9.44823 7.36816 9.40332C6.66314 9.78329 5.85704 10 5 10C2.23858 10 0 7.76142 0 5C0 2.23858 2.23858 0 5 0ZM5 1.5C3.067 1.5 1.5 3.067 1.5 5C1.5 6.933 3.067 8.5 5 8.5C6.933 8.5 8.5 6.933 8.5 5C8.5 3.067 6.933 1.5 5 1.5Z"
        fill="#C9CBC8"
    )
