svg(
    width="19"
    height="16"
    viewBox="0 0 19 16"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
)
    path(
        d="M-4.15258e-07 9.5L9.5 9.5L9.5 15.8333L19 7.91667L9.5 -4.15258e-07L9.5 6.33333L-2.76839e-07 6.33333L-4.15258e-07 9.5Z"
        fill="#1E1E1E"
    )
